extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Azin

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Experienced Interface Specialist and responsible for designing user interfaces, wireframes and flowcharts, and other UX techniques for different applications and websites. Also skilled in front-end web development techniques and coding. I am a lifetime learner and I still enjoy learning about how to improve myself.
            | Even though my previous field of study was not satisfying for me, I had the chance to learn web-based skills in both designing and developing. Now I have embarked on my studies in computer and information systems wich will help me a lot to keep my professional skills updated.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li ReactJs
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li PUG
          li Express 
          li NodeJs
        h6 Contact Info

        //- Add your own contact info
        ul
          li 778-929-1237
          li azin.moubed@email.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/azin-moubed/') LinkedIn
        a.button.expanded(href='https://github.com/azinmbd') GitHub
        a.button.expanded(href='https://twitter.com/azinmbd') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  